=render "shared/header"
.index__comments
  .index__comments__big
    .index__comments__box
      - @comments.each do |comment|
        .index__comment
          .index__comment__text
            .index__comment__left
              .index__comment__left__place
                = comment.place
            .index__comment__right
              .index__comment__right__name
                - comment.member.each do |member|
                  = member.name
            = link_to '詳細', "comments/#{comment.id}", method: :get
          .index__comment__image
            = image_tag comment.image.url
