<div class="wrapper">
  <div class = "contents">
    <div class = "header-box">
      <div class="header-name">
        <%= @user.name %>
      </div>
    </div>
    <div class="member">
    <div class="member__index">
      推しメン一覧
    </div>
    <div class="member__select">
        <%= link_to "推しメンを選ぶ（追加する）", favorites_path %>
    </div>
    </div>
    <ul class="select">
    <% @user.favorites.each do |favorites| %>
      <%=  %>
      <%= link_to "#{favorites.member.name} ←", member_path(favorites.member.id) %>
    <% end %>
    </ul>
    <div class="footer"></div>
      <%= link_to '投稿する', new_comment_path  %>
    </div>
  </div>
</div>
  
