<div class="wrapper">
  <div class = "contents">
    <div class = "header-box">
      <div class="header-name">
        <%= @user.name %>
      </div>
      <div class="header-right">
        <div class="header-post">
        <%= link_to '投稿する', new_comment_path  %>
        </div>
        <div class="header-search">
          <%= link_to '投稿から探す', comments_path %>
        </div>
      </div>
    </div>
    <div class="member">
    <div class="member__index">
      推しメン一覧
    </div>
    <div class="member__select">
        <%= link_to "推しメンを選ぶ（追加する）", favorites_path %>
    </div>
    </div>
    <div class="user-select">
    <% @user.favorites.each do |favorites| %>
      <div class="link">
        <div class="link-name">
          <td><%= link_to "#{favorites.member.name} ← ", member_path(favorites.member.id) %></td>
        </div>
        <div class="link-delete">
          <td><%= link_to "外す" , favorite_path(favorites.id), method: :delete %></td>
        </div>
      </div>
    <% end %>
    </div>
    <div class="footer">
      
    </div>
  </div>
</div>
  
