=render "shared/header"
.wrappers
  .headers
    .headers__left
      .headers__left-name
        = @user.name
      .user__info
        = link_to "投稿する", new_comment_path 
        = link_to "旅を見る", search_index_path
        = link_to "ログアウト", destroy_user_session_path, method: :delete, id: "delete",data: {confirm: 'ログアウトしますか？'}
    .headers__right
      .headers__right__text
        .headers__right__text__mem
          推しメン
        .headers__right__text__change
          = link_to "変更する", favorites_path
      .headers__right__members
        - @user.favorites.each do |favorites|
          = link_to "#{favorites.member.name}", member_path(favorites.member.id), class: "mem"
          = link_to "外す" , favorite_path(favorites.id), method: :delete, class: "delete"
  .users__contents
    .users__contents__text
      -if @user.comments.length > 0
        投稿
      -else
        まだ投稿がありません
        %br
        = link_to "投稿する", new_comment_path 
      - @user.comments.each do |c|
        .users__contents__content
          .users__contents__content__head
            .users__contents__content__head__member
              - c.member.each do |member|
                =member.name
            .users__contents__content__head__place
              =c.place
          .users__contents__content__image
            = image_tag c.image.url
          .users__contents__content__comment
            =c.text
          .btn
            = link_to "詳細", comment_path(c.id)