.wrappers
  .headers
    .headers__left
      = @user.name
    .headers__right
      .headers__right__text
        .headers__right__text__mem
          推しメン
        .headers__right__text__change
          = link_to "変更する", favorites_path
      .headers__right__members
        - @user.favorites.each do |favorites|
          = link_to "#{favorites.member.name}", member_path(favorites.member.id), class: "mem"
          = link_to "外す" , favorite_path(favorites.id), method: :delete, class: "delete"
  .contents
    .contents__text
      投稿
      - @user.comments.each do |c|
        .contents__content
          .contents__content__head
            .contents__content__head__member
              - c.member.each do |member|
                =member.name
            .contents__content__head__place
              =c.place
              = link_to "詳細", comment_path(c.id)
          .contents__content__image
            = image_tag c.image.url
          .contents__content__comment
            =c.text
  .footer
    = link_to "投稿する", new_comment_path 
    = link_to "旅を見る", search_index_path
    = link_to "ログアウト", destroy_user_session_path, method: :delete