=render "shared/header"
.member__show
  .member__box
    .member__box__name
      = @member.name
    .member__box__image 
      -if @member.image.present?
        = image_tag @member.image.url, width: "150px", height: "180px"
      - else
        comming soon
  -if @member.member_comments.present?
    .select
      - @member.member_comments.each do |m|
        .select__box
          .select__box__place
            = link_to "#{m.comment.place}", comment_path(m.comment)
          .select__box__image
            = image_tag m.comment.image.url
  -else
    .no-member
      = "#{@member.name} の投稿はまだありません。"
      =link_to "投稿する", new_comment_path